{% extends 'nepali_status_and_quotes/admin_base.html' %}

{% block content %}




<div class="container" style="margin-top:40px; margin-left:40px; margin-right:40px;">

    <!-- <form method="POST">

  <div class="input-group">

    <div class="form-outline">

      <input type="search" name="category" class="form-control" />
      <label class="form-label" for="form1">Search</label>
    </div>
    <button type="submit" class="btn btn-primary">
      <i class="fas fa-search"></i>
    </button>

  </div>
  </form> -->

  <form method="POST">
      {% csrf_token %}
<p><label for="id_q">Search:</label>
<input type="text" name="q" id="id_q" value="{{ query }}" />
<select name="category">
  {% for category in categories %}
    <option value="{{category.id}}">{{category.category}}</option>
  {% endfor %}
</select>
<input type="submit" value="Submit" /></p>
</form>

  <div class="row">


  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Status</th>
        <th scope="col">Category</th>
        <th scope="col">Added Date</th>


      </tr>
    </thead>
    <tbody>
      {% for status in status %}

      <tr>
        <th scope="row">{{status.id}}</th>
        <td> {{status.status}} </td>
        <td>  {{status.category}} </td>
        <td> {{status.added_datetime}} </td>


        <td>
           <form method="POST" action="{% url 'updatestatus' status.id %}">
              {% csrf_token %}
            <button type="submit" class="btn btn-outline-success my-2 my-sm-0"> Update </button>
          </form>
        </td>

        <td>
           <form method="POST" action="{% url 'deletestatus' status.id %}">
              {% csrf_token %}
            <button type="submit" class="btn btn-outline-success my-2 my-sm-0"> Delete </button>
          </form>
        </td>

      </tr>


    {% endfor %}


    </tbody>
  </table>


  </div>
</div>


{% endblock %}
