{% extends 'nepali_status_and_quotes/admin_base.html' %}

{% block content %}


    <div class="container" style="margin-top:40px;">

    <div class="row">
      {% for statusimage in images %}

          <figure class="col-md-4">
              <a href="{{ statusimage.image_url }} " data-size="1600x1067">
                <img alt="picture" src="{{ statusimage.image_url }} " class="img-fluid">
              </a>
              <form method="POST" action="{% url 'deleteimage' statusimage.id %}" style="margin-top:10px;align:center">
                 {% csrf_token %}
               <button type="submit" class="btn btn-outline-success my-2 my-sm-0"> Delete </button>
             </form>
            </figure>

    {% endfor %}



    </div>
  </div>




{% endblock %}
