{% extends 'nepali_status_and_quotes/admin_base.html' %}

{% block content %}

<div class="container" style="margin-top:40px; margin-left:40px; margin-right:40px;">

  <div class="row">


  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Status</th>
        <th scope="col">Category</th>
        <th scope="col">Status By</th>
        <th scope="col">Email</th>
        <th scope="col">Date</th>


      </tr>
    </thead>
    <tbody>
      {% for status in status %}

      <tr>
        <th scope="row">{{status.id}}</th>
        <td> {{status.status}} </td>
        <td>  {{status.category}} </td>
        <td> {{status.status_by}} </td>
        <td> {{status.email}} </td>
        <td> {{status.submited_date | date:"F d Y" }} </td>

        <td>
           <form method="POST" action="{% url 'approvedstatus' status.id %}">
              {% csrf_token %}
            <button type="submit" class="btn btn-outline-success my-2 my-sm-0"> Approve </button>
          </form>
        </td>

        <td>
           <form method="POST" action="{% url 'deletesubmittedstatus' status.id %}">
              {% csrf_token %}
            <button type="submit" class="btn btn-outline-success my-2 my-sm-0"> Delete </button>
          </form>
        </td>

      </tr>




    {% endfor %}


    </tbody>
  </table>


  </div>
</div>


{% endblock %}
