{% extends 'nepali_status_and_quotes/admin_base.html' %}

{% block content %}


<div class="container" style="margin-top:40px; margin-left:40px; margin-right:40px;">

  <h1> Update Status <h1><br>

  <div class="row">

  <form method="POST">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit"> Update </button>
  </form>

  </div>

</div>


{% endblock %}
