<!DOCTYPE html>
<html>
<head>
<title>Page Title</title>
</head>
<body>

<div class="container" style="margin-top: 100px;">

<h1>Login <span class="badge badge-secondary">👌</span></h1>

<div  role="alert">
<h2> {{error}} </h2>
</div>

  <div class="row">

    <div class="col-sm">
      <form method="POST">
      {% csrf_token %}
      {{form.as_p}}
      <button type="submit" class="btn btn-outline-success my-2 my-sm-0"> Login </button>
      </form>
    </div>


    </div>

  </div>
</div>

</body>
</html>
